@font-face {
  font-family: Virgil;
  src: url("../fonts/Virgil.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-white-text: #f6f7f9;
  --color-green-text: rgb(68 172 153);
  --bg-opacity: 0.8;
  --color-green-bg: rgb(43 110 98 / var(--bg-opacity));
}

#new_event_button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: darkgreen;
  color: beige;
  font-size: 30px;
  opacity: 1;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 20px;
  right: 20px;
}

#new_event_button:hover {
  opacity: 0.8;
}

.home_wrapper {
  font-family: "Virgil";
  margin: 0 auto;
  padding: 5rem 10rem;
  background-color: rgb(35 39 47);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explainer_note {
  background-color: var(--color-green-bg);
  padding: 32px;
  color: var(--color-white-text);
  border-radius: 1rem;
}

.note_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: max-content;
  margin-bottom: 1rem;
  color: var(--color-green-text);
}

.javascript_label {
  background-color: #f0db4f;
  border-radius: 0.5rem;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: bold;
}

/* Main wrapper styling */
.app_list_wrapper {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* Card styling */
.app_list_card {
  background-color: var(--color-white-text);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 24px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

/* Button styling */
.app_list_card a {
  display: inline-block;
  font-size: 1em;
  color: var(--color-white-text);
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
}

/* Hover effect for cards */
.app_list_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.9);
}

.navigable-button {
  border: 1px solid var(--color-green-text);
  padding: 0.5rem;
  width: 140px;
  height: 40px;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--color-green-text);
  transition: background-color 0.3s, color 0.3s, display 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.home_icon {
  display: none;
  margin-top: 5px;
}

.navigable-button:hover {
  background-color: rgb(68 172 153);
  color: white;
}

.navigable-button:hover .home_icon {
  display: inline;
}
