@import url("../globalStyles.css");

body {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  background-color: #fffcff;
  font-family: Virgil;
  padding: 0 10px;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: Virgil;
  display: flex;
  justify-content: space-between;
}

#header button {
  font-family: Virgil;
  background-color: #92a1d1;
}

#header #nextButton {
  font-family: Virgil;
  background-color: #006400;
}

button,
input {
  font-family: Virgil;
}

#container {
  /* max-width for the calendar. This is sum of width of 7 days (Look at the .day class styles)
        The 70px is coming from margin: 5px -> so left and right will contribute 10 for each day.
        TIP: You could avoid this and do via Grid as well -> Look at date-picker project.
    */
  width: 770px;
}

#day-view {
  flex-grow: 1;
  margin-left: 40px;
}

#weekdays {
  width: 100%;
  display: flex;
  color: #247ba0;
  justify-content: space-between;
  margin: 15px 0;
}

#weekdays div {
  width: 100px;
}

#weekdays div:first-child {
  padding-left: 5px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color: #e8f4fa;
}

.event {
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 3px;
}

.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}

#newEventModal,
#eventDetailsModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: Virgil;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error,
#eventStartInput.error,
#eventEndInput.error {
  border: 2px solid red;
}

#cancelButton,
#deleteButton {
  background-color: #d36c6c;
}

#saveButton,
#closeButton {
  background-color: #92a1d1;
}

#eventText {
  font-size: 14px;
}

#modalBackDrop {
  overflow: hidden;
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
