@import url("../globalStyles.css");

html,
body {
  font-family: Virgil;
  height: 100%;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.options {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset_button,
input {
  font-family: Virgil;
  height: 30px;
}

.color_picker {
  width: 100px;
  margin: 0 40px;
}

.grid_container {
  --grid_size: 8;

  border: 1px solid;
  border-radius: 8px;
  background-color: white;
  width: 80vw;
  height: 70vh;

  display: grid;

  /* Fed dynamically from Javascript! */
  grid-template-columns: repeat(var(--grid_size), 1fr);
  grid-template-rows: repeat(var(--grid_size), 1fr);

  gap: 1px;
  padding: 3px;

  .grid {
    border-radius: 8px;
    background-color: black;
  }
}

.reset_button {
  padding: 0 20px;
}

.grid_size {
  width: 50px;
  padding-left: 10px;
}

.how-to {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .howto-label {
    cursor: pointer;
  }
}

/* Select the sibling and make it visible */
.howto-label:hover + .helper-text {
  display: block;
}

.helper-text {
  display: none;
  padding: 16px;
  border-radius: 20px;

  position: absolute;
  top: 30px;
  left: 0;
  right: 0;

  background-color: #006400;
  color: wheat;

  ::before {
    content: "";
    position: absolute;
    /* same as border-bottom in this case */
    top: -8px;
    left: 50%;
    /* For perfect centering */
    transform: translateX(-50%);

    /* Triangle shape */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #006400;
  }
}

mark {
  background-color: wheat;
  color: black;
}
